In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df= pd.read_csv("Data_for_UCI_named.csv")
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [3]:
df.shape

(10000, 14)

In [4]:
df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [5]:
df.dtypes

tau1     float64
tau2     float64
tau3     float64
tau4     float64
p1       float64
p2       float64
p3       float64
p4       float64
g1       float64
g2       float64
g3       float64
g4       float64
stab     float64
stabf     object
dtype: object

In [6]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [7]:
df.drop("stab",axis=1, inplace=True)
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [8]:
X = df.drop("stabf",axis=1)
Y = df["stabf"]

In [9]:
from sklearn.model_selection import train_test_split 

x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2, random_state=1)

In [10]:
y_train.value_counts()

unstable    5092
stable      2908
Name: stabf, dtype: int64

In [11]:
from imblearn.over_sampling import SMOTE 
smote = SMOTE(random_state =1)
x_train_balanced, y_train_balanced = smote.fit_sample(x_train,y_train)

In [12]:
from sklearn.preprocessing import StandardScaler, 

scaler=StandardScaler()

x_train_scaled = scaler.fit_transform(x_train_balanced) 
x_test_scaled = scaler.transform(x_test)

In [13]:
from sklearn.ensemble import RandomForestClassifier 

rnf_cls = RandomForestClassifier(random_state=1)
rnf_cls.fit(x_train_scaled,y_train_balanced)

pred_rnf = rnf_cls.predict(x_test_scaled)

In [22]:
from sklearn.metrics import accuracy_score 

print(accuracy_score(y_test,pred_rnf))

0.918

In [14]:
from sklearn.ensemble import ExtraTreesClassifier

ext_cls = ExtraTreesClassifier(random_state=1)
ext_cls.fit(x_train_scaled,y_train_balanced)
pred_ext=ext_cls.predict(x_test_scaled)

In [25]:
print(accuracy_score(y_test,pred_ext))

0.919

In [15]:
from xgboost import XGBClassifier 

xgb_cl = XGBClassifier(random_state=1)

xgb_cl.fit(x_train_scaled,y_train_balanced)

pred_xgb = xgb_cl.predict(x_test_scaled)

In [23]:
print(accuracy_score(y_test,pred_xgb))

0.9415

In [16]:
from lightgbm import LGBMClassifier

lgb_cls = LGBMClassifier(random_state=1)

lgb_cls.fit(x_train_scaled,y_train_balanced)

pred3_lgb =lgb_cls.predict(x_test_scaled)

In [24]:
print(accuracy_score(y_test,pred3_lgb))

0.9345

In [21]:
from sklearn.model_selection import RandomizedSearchCV 

n_estimators = [50, 100, 300, 500, 1000]

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None] 

hyperparameter_grid = {'n_estimators': n_estimators,

                       'min_samples_leaf': min_samples_leaf,

                       'min_samples_split': min_samples_split,

                       'max_features': max_features}

rclf = RandomizedSearchCV(ExtraTreesClassifier(random_state=1), hyperparameter_grid,cv=5,n_iter=10,scoring="accuracy",n_jobs=-1,verbose=1, random_state=1) 

rclf.fit(x_train_scaled,y_train_balanced)

pred_rand = rclf.predict(x_test_scaled)

rclf.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   39.5s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  1.2min finished

{'n_estimators': 300,
 'min_samples_split': 9,
 'min_samples_leaf': 2,
 'max_features': 'auto'}

In [31]:
ext1_cls = ExtraTreesClassifier(n_estimators =1000, min_samples_split=2, min_samples_leaf=8, max_features="auto")
ext1_cls.fit(x_train_scaled,y_train_balanced)
pred_ext1 = ext1_cls.predict(x_test_scaled)

In [32]:
print(accuracy_score(y_test,pred_ext1))

0.9155

In [28]:
ext1_cls.feature_importances_

array([0.13272554, 0.12972335, 0.12665018, 0.12963784, 0.01970112,
       0.02179632, 0.02163239, 0.0217765 , 0.0941256 , 0.09916622,
       0.10616232, 0.09690262])